#!/bin/bash

cd /home/web/srcs

chown -R web /home/web/srcs/

# ufw enable && ufw default deny incoming
# ufw allow from {{ dev_whitlist_ip }}
# ufw allow from 172.18.0.0/16
su web

npm install

npx prisma db push
npx prisma studio &
npm run dev