#!/bin/bash

cd /home/web/srcs

ufw enable && ufw default deny incoming
ufw allow from 172.18.0.0/16
npm install

npm run build
chown -R web /home/web/srcs/
su web
ORIGIN=https://{{ hostname }} PORT=8000 node build/index.js